<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList</title>
    <link rel="stylesheet" href="css/styles.css">

    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="img/site.webmanifest">
</head>
<body>
    <div id="todo-page-cont">
        <div id="heading-cont">
            <h1 id="heading"><%= title %></h1>
        </div>
        <div id="todo-cont">
            <% for (let i=0; i<todoItem.length; i++){ %>
                <div id="item-cont">
                    <input type="checkbox" name="checkbox" id="checkbox">
                    <p id="todo-item"><%= todoItem[i] %></p>
                </div>
            <% } %>

            <form id="new-todo" action="/" method="post">
                <input type="text" name="item" id="input-todo" placeholder="New Item">
                <div>
                    <button type="submit" name="button" id="add" value=<%= title %>>+</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>