<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Wish List | Login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/2009496ccf.js" crossorigin="anonymous"></script>
    
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="img/site.webmanifest">

</head>
<body>
    <div id="login-cont-cont">
        <div id="login-cont">
            <div id="login-title-cont">
                <i class="fa-regular fa-square-check"></i>
                <h1>My Wish List | Login</h1>
            </div>
            <p id="login-para">Create a Todolist and Become more productive</p>
            <a id="google-link" href="/auth/google" style="text-decoration: none;">
                <div id="google-auth-cont">
                    <i class="fa-brands fa-google"></i>
                    <h4 id="auth-para">LOG IN WITH GOOGLE</h4>
                </div>
            </a>
        </div>
    </div>
</body>
</html>